<!-- if ($actual_link !== 'http://localhost/Magento-Internship/' && 'http://localhost/Magento-Internship/men.html' && 'http://localhost/Magento-Internship/women.html') {
        echo 'style="display:none;"'; 
    }
<?php $actual_link = (isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] === 'on' ? "https" : "http") . "://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]"; ?>
<container class="wholeBanner">
    <container class="colorBar">
        <div class="block1">
        </div>
        <div class="block2">
        </div>
        <div class="block3">
        </div>
        <div class="block4">
        </div>
    </container>
    <container>
        <div class="bigBlueContainer">
            <div class="textInBlueContainer">

                <?php 
                if ($actual_link == 'http://localhost/Magento-Internship/') {
                    echo '<h1><strong>This is a nice main header quote</strong></h1>
                    <h4><strong>And another really good looking header quote.</strong></h4>';
                } elseif ($actual_link == 'http://localhost/Magento-Internship/men.html'){
                    echo '<h1><strong>This is a nice main header quote for men</strong></h1>
                    <h4><strong>And another really good looking header quote.</strong></h4>';
                } elseif ($actual_link == 'http://localhost/Magento-Internship/women.html'){
                    echo '<h1><strong>This is a nice main header quote for women</strong></h1>
                    <h4><strong>And another really good looking header quote.</strong></h4>'; 
                } else {
                    echo '<h1><strong>This is a random quote</strong></h1>
                <h4><strong>And another really good looking header quote.</strong></h4>';
                }
                ?>
                <h1><strong>This is a nice main header quote</strong></h1>
                <h4><strong>And another really good looking header quote.</strong></h4>
        </div>
        </div>
    </container>
</container>
<style>
.colorBar {
    display:flex;
    width:100%;
}
.block1 {
    background-color:#004b87;
    width:25%;
    margin-bottom:0;
    height: 20px;
    min-height: 20px;
}
.block2 {
    background-color:#418fde;
    width:25%;
    margin-bottom:0;
    height: 20px;
    min-height: 20px;
}
.block3 {
    background-color:#ffffff;
    width:25%;
    margin-bottom:0;
    height: 20px;
    min-height: 20px;
}
.block4 {
    background-color:#a2aaad;
    width:25%;
    margin-bottom:0;
    height: 20px;
    min-height: 20px;
}

.bigBlueContainer {
    background-color:#004b87;
    height:45vh;
    margin-bottom:1vh;
}
.textInBlueContainer {
    max-width:1270px;
    width:auto;
    margin-right:auto;
    margin-left:auto;
    padding-right:20px;
    padding-left:20px;
}
.textInBlueContainer h1 {
    padding-top:15vh;
    color:#ffffff;
}
.textInBlueContainer h4 {
    color:#ffffff;
}
</style>