.wholeBanner {
    height: 20px;
}

.colorBar {
    display: flex;
    width: 100%;
    width: 100%;
    position: absolute;
    left: 0;
}

.block1 {
    background-color: #004b87;
    width: 25%;
    margin-bottom: 0;
    height: 20px;
    min-height: 20px;
}

.block2 {
    background-color: #418fde;
    width: 25%;
    margin-bottom: 0;
    height: 20px;
    min-height: 20px;
}

.block3 {
    background-color: #ffffff;
    width: 25%;
    margin-bottom: 0;
    height: 20px;
    min-height: 20px;
}

.block4 {
    background-color: #a2aaad;
    width: 25%;
    margin-bottom: 0;
    height: 20px;
    min-height: 20px;
}

.spaceForBigBlueContainer {
    height: 47vh;
    margin-bottom: 4vh;
}

.bigBlueContainer {
    background-color: #004b87;
    height: 47vh;
    margin-bottom: 1vh;
    width: 100%;
    position: absolute;
    left: 0;
}

.textInBlueContainer {
    max-width: 1270px;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.textInBlueContainer h1 {
    font-size: 45px;
    padding-top: 15vh;
    color: #ffffff;
    margin-bottom: 1vh;
}

.textInBlueContainer h4 {
    color: #ffffff;
    font-size: 17px;
}

#infoContainer p {
    font-size: 14px;
    margin-bottom: 0;
}

#infoContainer h1 {
    color: #004a87;
    font-size: 27px;
}