.page-footer {
    background-color: #004b87 !important;
}

.navigation {
    background-color: #ffffff !important;
}

.nav-sections {
    background-color: #ffffff !important;
    margin-bottom: 0;
}


.navigation .level0.active > .level-top,
  .navigation .level0.has-active > .level-top {
    border-color: transparent;  
    color: #4190de;
}

.navigation .level0 > .level-top {
    color: #a2aaad;
}

.navigation .level0 > .level-top:hover, .navigation .level0 > .level-top.ui-state-focus {
    color: #004b87 !important;
}

a, .alink, a:visited,
.alink:visited, a:hover,
.alink:hover {
    color: #a2aaad !important;
}